body {
	font-family: "wf_SegoeUILight";
	padding: 0;
	margin: 0;
	color: #222222;
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

@font-face{
    font-family: 'wf_SegoeUILight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Header*/

.main {
  width: 100%;
  color: #6c6c6c;
  background-color: #fff;
}

.header {
  width: 85%;
 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 50%;
  margin-top: 30px;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 2rem;
}

.menu-link {
  text-decoration: none;
  color: #6c6c6c;
  padding-bottom: 16px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}

.menu-link:hover {
  border-bottom-color: #5094f2;
}

.m-menu-link {
  display: none;
  color: #fff;
  font-size: 30px;
  background-color: #5094f2;
  padding: 4px 10px;
  border-radius: 3px;
}

.m-menu {
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  list-style: none;
  font-size: 4rem;
  line-height: 7rem;
  background-color: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  transform: translateX(100%);
}

.m-menu_activ {
  transform: translateX(0%);
}

.close-menu {
  position: fixed;
  right: 50px;
  top: 50px;
  color: #6c6c6c;
}

.close-menu:hover {
  cursor: pointer;
}
/*Banner*/

.banner {
  background: url(../img/background-banner.png) no-repeat center;
  background-size: cover; 
  width: 100%;
  height: 485px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.background-triangle {
  position: absolute;
  background: url(../img/background-line.png) repeat;
  width: 100%;
  height: 15px;
  bottom: 0;
}

.banner-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 485px;
}

.iphone {
  background: url(../img/iphone.png) no-repeat;
  width: 345px;
  height: 436px;
  margin-top: 30px;
}

.banner-header span {
  font-size: 4rem;
}

.banner-header p {
  font-size: 3rem;
}

.sign-up-now {
  text-align: center;
  width: 172px;
  height: 41px;
  font-size: 22px;
  background: url(../img/okay.png) no-repeat center;
  position: relative;
  margin-right: 150px;
}

.sign-up-now-btn {
  color: #fff;
  text-decoration: none;
  position: absolute;
  left: 2px;
  bottom: 0px;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  padding-left: 24px;
}

/*Content*/
.background-line {
  background: url(../img/background-line.png) repeat center;
  width: 100%
  height 500px;
}

.content {
  width: 100%;
  margin-top: 70px;
  background-color: #fff;
}

.content-box-1 {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 65px;
}

.item-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.item-1 h3 {
  color: #5094f2;
  font-size: 18px;
  margin-bottom: 0;
}

.item-1 p {
  color: #909090;
  font-size: 14px;
  width: 250px;
  text-align: center;
}

.content-box-2 {
  display: flex;
  justify-content: space-around;
  color: #6f7173;
  margin-bottom: 25px;
}

.content-box-2 h1 {
  font-size: 45px;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.content-box-2-text {
  width: 500px;
  margin-right: 50px;
}

.content-box-2-text h2{
  font-size: 30px;
  margin-top: 65px;
}

.content-box-2-text p{
  font-size: 14px;
  line-height: 35px;
  margin: 0;
}

.visible-line {
  display: none;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 1rem auto;
}

.visible-box-1 {
  display: none;
}

/*Footer*/
.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 1rem auto;
}

.copy {
  font-size: 1.4rem;
  color: #6a6a77;
  margin-left: 1rem;
  text-align: center;
}

.copy p{
 margin: 30px 0px 30px 0px;
}