@media (max-width:1021px) {
	.visible-lg {
		display: none;
	}

	.m-menu-link {
		display: block;
	}

	.content-box-1 {
		flex-direction: column;
	}

	.item-1 {
		display: flex;
		flex-direction: row;
		margin: 30px 0;
	}


	.visible-line {
		display: block;
	}

	.content-box-2-text {
		margin: 0;
	}

	.content-box-2 {
		flex-direction: column;
		align-items: center;
	}

	.content-box-2-text h2 {
    margin-top: 25px;
	}

	.visible-box-1 {
		display: block;
	}

	.visible-box-1-note {
		display: none;
	}

	.item {
		width: 73%;
	}
	
	.item h3 {
		font-size: 32px;
		margin: 0;
	}

	.item p {
		font-size: 24px;
	}

	.item-1 p {
		width: 100%;
		text-align: left;
		margin: 10px 0;
	}
}
